/*********************************/
/* GÉNÉRAL */
/*********************************/

header{

    display: flex;
    justify-content: center;
    background-color: #272727;
    color: white;

    width: fit-content;
    max-width: 18vw;
}

main{
    display: flex;
    flex-direction: row;
    
    height: 100vh;
    width: 100vw;
    
}


h2{
    text-decoration: underline;
}


/*********************************/
/* NAVIGATION */
/*********************************/


.title{
    font-size: large;
    border-bottom: solid;
    border-width: 2px;
    margin: 5%;
    padding-bottom: 5%;
}

.nav{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav li:hover{
    background-color: grey;
}
nav ul, li{
    margin: 0;
    padding: 0;
}


nav ul{

    list-style: none;
    margin-top: 20%;
    width: 100%;
}

nav li{
    width: 100%;
    margin: 0 10% 0 0;
    padding: 5% 5% 5% 10% ;
}

/*********************************/
/* CONTENU */
/*********************************/

.content{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}


